// CheckVideo.module.scss
.container {
  margin-top: 1rem;
}
.card {
  margin: 0 auto;
  max-width: 600px;
}
.cardHeader {
  text-align: center;
}
.cardBody {
  position: relative;
}
.videoWrapper {
  display: inline-block;
  position: relative;
  text-align: center;
}
.video {
  height: 300px;
  background: #000;
  transform: scaleX(-1);
  display: block;
  margin-bottom: 1rem;
  width: 400px;
  object-fit: cover;
}
.centerText {
  text-align: center;
}
.button {
  margin-bottom: 0.5rem;
}
.alert {
  margin-top: 1rem;
}
