@import '@/styles/abstracts/variables';

.categories {
	margin-bottom: 16px;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background: #f5f6f8;
	border-radius: 10px;
	& > span {
		line-height: 36px;
		font-weight: 500;
		font-size: clamp(24px, 15px + 1vw, 30px);
	}
}

.categoriesList {
	border-radius: 25px;
	margin-left: 0;
	padding-left: 0px;
	list-style-type: none;
	font-size: 16px;

	a:hover {
		color: $brand-primary;
	}
}
