@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

@import '@/styles/abstracts/variables';

.policy {
	color: $brand-primary;
}

.loginContainer {
	padding-top: 40px;
}

.logo {
	margin-bottom: 48px;
	display: flex;
	justify-content: center;
}

.title {
	margin-bottom: 8px;
	text-align: center;
}

.subtitle {
	color: $text-secondary;
	margin-bottom: 24px;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	padding: 40px 20px;
	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.04),
		0 4px 8px rgba(0, 0, 0, 0.08);
}

.fieldError {
	min-height: 35px;
}

.forgotPassword {
	align-self: flex-end;
	color: $brand-primary;
	text-decoration: none;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: darken($brand-primary, 10%);
	}
}

.registerText {
	text-align: center;
	margin-top: 16px;

	a {
		color: $brand-primary;
		text-decoration: none;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}
	}
}

.personal_info_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.company_inn {
	display: flex;
	gap: 20px;
}

.checkboxGroup {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (max-width: 846px) {
	.fieldError {
		min-height: 1em;
	}
	.form {
		max-width: 500px;
	}
	.personal_info_grid {
		grid-template-columns: 100%;
		column-gap: 20px;
	}

	.company_inn {
		flex-direction: column;
		gap: 0;
	}
}
