@import '@/styles/abstracts/variables';

.section {
	box-sizing: border-box;
	background-color: #fff;
	padding: 60px 0;

	.title {
		text-align: center;
	}

	.content {
		margin-top: 40px;
		display: grid;
		justify-content: center;
		gap: 24px;
		grid-template-columns: repeat(auto-fit, minmax(240px, 684px));

		.block {
			box-sizing: border-box;
			border-radius: 16px;
			padding: 24px;

			.content {
				margin-top: 16px;
			}

			&:nth-child(odd) {
				background-color: $grey-1;
				color: $text-primary;
			}

			&:nth-child(even) {
				background-color: $brand-primary;
				color: white;
			}
		}
	}
}
