.table {
	tr,
	td,
	th {
		border: 1px solid #e2e8f0;
	}
}



.receiverInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 38px;
}

@media (max-width: 880px) {
	.receiverInfo {
		flex-direction: column;
	}
}
