@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.popularArticles {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: $pink-light;
	padding: 20px;
	border-radius: 12px;
}

.title {
	margin-bottom: 16px;
}

.list {
	list-style: none;
	padding: 0;
	margin-bottom: 16px;
}

.articleItem {
	margin: 32px 0;
}

.date {
	color: $grey-3;
}

.articleLink {
	text-decoration: none;
	color: $text-primary;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}
