.block {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 24px;
	padding: 16px 0 24px 0;
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #e2e8f0;

	.container {
		flex-grow: 1;
		padding-left: 24px;
		padding-right: 24px;

		&.paddingDisabled {
			padding: 0;
		}
	}

	.dangerBorder {
		border-color: rgba(245, 101, 101, 1);
	}

	.header {
		display: flex;
		padding-left: 24px;
		padding-right: 24px;
		flex-grow: 0;
		justify-content: space-between;
		align-items: center;

		.headings {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		.tooltip {
			width: 32px;
			height: 32px;
			cursor: pointer;
		}
	}

	&.minified {
		.header {
			text-align: center;
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;

			.headings {
				margin-bottom: 16px;
			}
		}
	}
}
