@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.accordion {
  background: $white;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.titleFaq {
  text-align: start;
}

.accordionHeader {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: $grey-1;
  }
}

.icon {
  min-width: 30px;
  display: flex;
  justify-content: end;
  transition: transform 0.3s ease;
}

.open {
  // transform: rotate(180deg);
}

.accordionContent {
  padding: 16px;
  font-size: 14px;
  color: $text-secondary;
  text-align: left;
}
