// src/pages/case-study/CaseStudyPage.module.scss

.container {
	max-width: 90%; // Примерная ширина контентной части
	margin: 0 auto;
}

.mainTitle {
	margin-bottom: 32px;
	line-height: 1.2;
}

.authorBlock {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 48px;
}

.author {
	&Name {
		font-size: 24px;
		margin: 0;
		font-weight: 600;
	}

	&JobTitle {
		margin: 0;
		margin-top: 12px;
	}
}

.readTime {
	margin: 0;
	margin-top: 8px;
}

.infoBlocks {
	display: flex;
	flex-direction: column;
	gap: 24px; // Пространство между блоками
}
