@import '@/styles/abstracts/variables';

.whoBenefits {
	padding: 60px 20px;
	background-color: $grey-1;
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
}

.heading {
	margin-bottom: 20px;
}

.tabs {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-bottom: 40px;
}

.tab {
	padding: 10px 16px;
	border-radius: 8px;
	border: 2px solid $grey-2;
	background: transparent;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.active {
	background: $brand-primary;
	color: $white;
	border-color: $brand-primary;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	margin-top: 20px;
}

.text {
	width: 50%;
	text-align: left;
}

.benefits {
	margin: 20px 0;
	display: flex;
	align-items: center;
	gap: 16px;
}

.benefitItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
}

.number {
	font-size: 24px;
	font-weight: 600;
	color: $brand-primary;
}

.imageContainer {
	width: 50%;
	display: flex;
	justify-content: center;
}

.img {
	width: 100%;
	border-radius: 12px;
	border: 1px solid black;
}

.btn {
	max-width: 351px;
}

@media (max-width: $horizontalMobileBreakPoint) {
	.btn {
		display: flex;
	}
	.benefits {
		flex-direction: column;
	}
	.imageContainer {
		order: -1;
	}
	.content {
		flex-direction: column;
		text-align: center;
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.text,
	.imageContainer {
		width: 100%;
		text-align: center;
	}

	.tab {
		flex: 0 0 100%;
	}

	.tabs {
		margin-bottom: 0;
	}

	.tabs {
		flex-wrap: wrap;
	}
	.tab {
		flex: 0 0 100%;
		margin-bottom: 0;
	}
}

@media (max-width: 450px) {
	.tabs {
		flex-wrap: wrap;
	}
}
