.wrapper {
	background: rgba(247, 250, 252, 1);
}

.heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.data {
	margin-top: 32px;
}

.tip {
	z-index: 1000;
}

.px {
	padding-left: 24px;
	padding-right: 24px;
}

.tableSort {
	cursor: pointer;

	transition: color 0.2s ease;
}

.tableSort:hover {
	color: rgba(66, 153, 225, 1);
}

.actions {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.done {
	fill: white;
	color: white;
}

.tableLoader {
	margin: 20px auto;
}

.hoverDarken {
	cursor: pointer;
	transition: filter 0.3 ease;
}

.limits {
	background-color: white;
	border: 1px solid rgba(226, 232, 240, 1);
	border-radius: 8px;
	padding: 31px 0 32px;
	min-width: 392px;
}

.hoverDarken:hover {
	filter: brightness(0.5);
}

.loader {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondaryBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.input {
	max-width: 572px;
}

.table {
	border-radius: 4px;
	background-color: white;
	padding: 16px 0 24px;
	overflow: hidden;
}

// Скроллы
.tabsScrollContainer {
	padding-bottom: 10px;
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #edf2f7 white;
	-webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS/Safari */

	/* Стили для скроллбара в WebKit (Safari/Chrome) */
	&::-webkit-scrollbar {
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #edf2f7;
		border-radius: 4px;
	}
}

.contentScrollContainer {
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #edf2f7 white;
	-webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS/Safari */

	/* Стили для скроллбара в WebKit (Safari/Chrome) */
	&::-webkit-scrollbar {
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #edf2f7;
		border-radius: 4px;
	}
}

.tabContent {
	height: 100%;
}

.search {
	padding: 0 16px 16px;
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.tabs {
	margin-top: 24px;
}

.table {
	margin: 32px 0 0;
}

@media (max-width: 1600px) {
	.secondaryBlock {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
	}
}

@media (max-width: 1104px) {
	.secondaryBlock {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media (max-width: 1201px) {
	.tagLabel {
		min-width: 35px;
	}
	.heading {
		flex-direction: column;

		&Buttons {
			margin-top: 12px;
		}
	}
}

@media (max-width: 950px) {
	.data {
		grid-template-columns: 1fr;
	}
	.secondaryBlock {
		align-items: center;
		width: 100%;
	}
	.limits {
		width: 100%;
	}
}

@media (max-width: 620px) {
	.search {
		flex-direction: column-reverse;
	}

	.titleBtnMainBlock {
		align-items: start !important;
		flex-direction: column-reverse;
		gap: 16px;
	}
}

@media (max-width: 620px) {
	.limits {
		min-width: 100%;
	}

	.limitButton {
		width: calc(100% - 48px);
		white-space: normal;
	}
}

@media (max-width: 470px) {
	.copyLinkButton {
		margin-bottom: 8px;
	}
}
