// src/components/CaseTestimonialBlock/CaseTestimonialBlock.module.scss
@import '@/styles/abstracts/variables';

.wrapper {
	background-color: $blue-2;
	padding: 80px 0;
	margin-top: 48px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 2;
}

.title {
	margin-bottom: 40px;
}

.testimonialCard {
	background-color: $white;
	border-radius: 24px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.quoteSection {
	padding: 40px;
}

.quoteText {
	line-height: 1.7;
	font-size: 20px;
}

.divider {
	border: none;
	height: 1px;
	background-color: $grey-2;
	margin: 0 40px;
}

.authorSection {
	display: flex;
	align-items: center;
	gap: 24px;
	padding: 32px 40px;
}

.authorName {
	margin: 0;
	font-weight: 600;
}

.authorTitle {
	margin: 0;
}

.quoteIcon {
	flex-shrink: 0; // Предотвращает сжатие иконки
	border-radius: 50%;
	background-color: $brand-primary;
	width: 86px;
	height: 86px;
	display: flex;
	align-items: center;
	justify-content: center;
}

// Стили для фоновых SVG
.backgroundCircle,
.backgroundLightning {
	position: absolute;
	fill: $blue-3;
	opacity: 0.1;
	z-index: 1;
	pointer-events: none; // SVG не должны мешать взаимодействию с контентом
}

.backgroundCircle {
	top: 50px;
	right: 15vw;
}

.backgroundLightning {
	bottom: -50px;
	right: 15vw;
	width: 250px;
	height: 250px;
}
