.modal {
	max-width: 70vw;
	min-height: 572px;
}

@media (max-width: 900px) {
	.modal {
		max-width: 80vw;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 16px;
		column-gap: 28px;
	}
}
