.selectionBlock {
	display: flex;
	margin-top: 12px;
	gap: 1rem;
	align-items: center;
}

.selectionSelect {
	flex-grow: 1;
	width: 50%;
}

@media (max-width: 860px) {
	.selectionBlock {
		display: grid;
		grid-template-columns: 1fr;
	}

	.selectionSelect {
		width: 100%;
	}
}
