@import '@/styles/abstracts/variables';

.main {
	padding-top: 32px;
	background-color: rgba(247, 250, 252, 1);
	flex: 1 0 auto;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative; /* Добавьте это */
}

.container {
	padding-bottom: 32px;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 90vw;
	flex: 1 0 auto;
}

.modal {
	position: absolute;
	top: -100px;
	left: 0;
	z-index: 700;
	width: 100vw;
	height: 200%;
	background-color: #000;
	opacity: 0.3;
}

.tip {
	z-index: 1000;
}

.tutorialWrapper {
	pointer-events: auto;
	display: flex;
	justify-content: flex-end;
	position: fixed; /* Убедитесь, что это fixed */
	right: 70px;
	bottom: 70px;
	z-index: 1000; /* Убедитесь, что z-index достаточно высок */
}

.tutorial {
	cursor: pointer;
}

.chatWidgetWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $teal-400;
	position: fixed; /* Убедитесь, что это fixed */
	right: 70px;
	bottom: 140px;
	z-index: 1000; /* Убедитесь, что z-index достаточно высок */
	cursor: pointer;

	.unreadCount {
		position: absolute;
		right: -15px;
		top: -15px;
		padding: 8px 16px;
		border-radius: 16px;
		background-color: $red-500;
	}
}

.chatWidgetTrigger {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.arrowBack {
	display: none;
}

@media (max-width: 700px) {
	.arrowBack {
		display: block;
	}

	.breadCrumbs {
		display: none;
	}
}

@media (max-width: 1024px) {
	.tutorialWrapper {
		right: 15px;
		bottom: 70px;
	}

	.chatWidgetWrapper {
		right: 15px;
		bottom: 140px;
	}
}

@media (max-width: 1200px) {
	.main {
		padding-top: 16px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1200px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1400px;
	}
}

@media (min-width: 1920px) {
	.container {
		max-width: 1600px;
	}
}

@media (min-width: 2560px) {
	.container {
		max-width: 1900px;
	}
}
