@import '@/styles/abstracts/variables';

.composer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 12px;
}

.inputArea {
	display: flex;
	align-items: flex-end;
	border-top: 1px solid $grey-100;
	border-radius: 0;
}

// Стили для самого Textarea компонента, переопределяющие дефолтные, если нужно
.textarea {
	background: $white;
	border-radius: 12px;
	border: 1px solid $grey-200;
	padding: 12px !important;
	font-size: 14px;
	line-height: 1.4;
	resize: vertical;
}

.composerActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	flex: 1;
	flex-wrap: wrap;
	// Если кнопка должна быть справа от инпута, возможно, здесь нужны дополнительные стили
	// В текущем flex .inputArea кнопка будет справа, если они соседи
}
