@import '@/styles/abstracts/variables';

.howTo {
	margin-top: 32px;
	position: relative;
	background-color: $grey-1;
	padding: 120px 0;
}

.title {
	margin-bottom: 80px;
	text-align: center;
}

.steps {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

.step {
	flex: 1; // Каждый шаг занимает равное пространство
	display: flex;
	flex-direction: column;
	align-items: center;

	&Text {
		text-align: center;
		margin-top: 24px;
		width: 100%;
	}
}

.stepLine {
	display: flex;
	align-items: center;
	width: 100%;
}

.circle {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 96px;
	width: 96px;
	font-weight: 600;
	border-radius: 50%;
	border: 1px solid $brand-primary;
}

.stepTitle {
	margin-bottom: 8px;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
}

.dotLine {
	flex-grow: 1; // Линия растягивается, чтобы занять доступное место
	border-bottom: 2px dashed $brand-primary;
}

// Новый класс для невидимой линии-распорки
.linePlaceholder {
	flex-grow: 1; // Распорка тоже растягивается, как и линия
	visibility: hidden; // Делаем ее невидимой, но она продолжает занимать место
}

.img {
	position: absolute;
	height: 200px;
	width: 69px;
	right: 35%;
	top: 15%;
}

// Стили для мобильной версии
@media (max-width: 767px) {
	.howTo {
		padding: 48px 0;
	}

	.dotLine {
		display: none;
	}

	.title {
		margin-bottom: 40px;
	}

	.steps {
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}

	.step {
		position: relative;
		width: 100%;
		max-width: 280px;

		&Line {
			& > h3 {
				margin: 0;
			}
		}

		&::after {
			display: none;
		}

		&Title {
			margin-top: 8px;
		}
	}

	// Скрываем и настоящие линии, и распорки на мобильных
	.dotLine,
	.linePlaceholder {
		display: none;
	}

	.circle {
		height: 72px;
		width: 72px;
	}

	.stepLine {
		justify-content: center;
	}

	.stepText {
		margin-top: 16px;
	}

	.stepTitle {
		margin-bottom: 4px;
		font-size: 1.25rem;
	}

	.img {
		position: absolute;
		height: 180px;
		width: 60px;
		right: -10px;
		top: 10%;
		opacity: 0.5;
	}
}
