.wrapper {
	background: rgba(247, 250, 252, 1);
}

.loader {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dialogHeader {
	align-items: center;
	display: flex;
}

.gradient {
	width: 100vw;
	height: 140px;
	background: linear-gradient(45deg, #a6c0fe 0%, #ffeaf6 100%);
	position: absolute;
	left: 0;
	top: 0;
}

.userInfo {
	margin-top: 80px;
	gap: 30px;

	.avatar {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}

	.editIcon {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #27272a;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.userData {
		margin-top: 55px;
	}
}

.profileBlocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr); // Исправлено: repeat(4, 1fr)
	gap: 24px;

	// Первый блок - занимает всю первую строку
	& > div:first-child {
		grid-column: 1 / -1; // Занимает все 4 колонки
	}

	.integrations {
		grid-column: 1 / 3; // Занимает колонки 1-2 (половина)
	}

	.rejectSettings {
		grid-column: 3 / 5; // Занимает колонки 3-4 (половина)
	}

	// Последний блок - занимает всю вторую строку
	& > div:last-child {
		grid-column: 1 / -1; // Занимает все 4 колонки
	}
}

.integrations {
	display: flex;
	gap: 24px;
}

@media (max-width: 550px) {
	.userInfo {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		gap: 6px;

		.userData {
			margin-top: 12px;
		}

		.avatar {
			width: 150px;
			height: 150px;
		}

		.editIcon {
			opacity: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 150px;
		}
	}

	.integration {
		flex-direction: column;
		gap: 12px;
		justify-content: center;
		align-items: center;
	}
}

.tip {
	z-index: 1000;
}

@media (max-width: 1024px) {
	.profileBlocks {
		grid-template-columns: 1fr; // 1 колонка вместо 4

		// Обнуляем все grid-column
		.integrations,
		.rejectSettings {
			grid-column: 1 / -1; // или просто 1
		}

		// Или можно через & > div, чтобы все дочерние div занимали всю ширину
		& > div {
			grid-column: 1;
		}
	}
}
