@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.faq {
  max-width: 90%;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.title {
  margin-bottom: 24px;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactBlock {
  background: $grey-1;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  margin-top: 40px;
}

.contactTitle {
  margin-bottom: 8px;
}

.contactImg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contactText {
  margin-bottom: 16px;
}
