.data {
	display: flex;
	gap: 24px;
}

.mainBlock {
	flex-grow: 1;
	border-radius: 10px;
	background-color: white;
	padding: 24px;
}

.actions {
	display: flex;
	gap: 8px;
	align-items: center;
}

.tableLoader {
	margin: 20px auto;
}

.hoverDarken {
	cursor: pointer;
	transition: filter 0.3 ease;
}

.hoverDarken:hover {
	filter: brightness(0.5);
}

.loader {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondaryBlock {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.input {
	max-width: 572px;
}

.table {
	border-radius: 4px;
	background-color: white;
	padding: 16px 24px 24px;
}

.search {
	padding: 0 16px 16px;
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.tabs {
	margin-top: 24px;
}

.table {
	margin: 32px 0 0;
}

// Скроллы
.tabsScrollContainer {
	padding-bottom: 10px;
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #edf2f7 white;
	-webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS/Safari */

	/* Стили для скроллбара в WebKit (Safari/Chrome) */
	&::-webkit-scrollbar {
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #edf2f7;
		border-radius: 4px;
	}
}

.contentScrollContainer {
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #edf2f7 white;
	-webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS/Safari */

	/* Стили для скроллбара в WebKit (Safari/Chrome) */
	&::-webkit-scrollbar {
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #edf2f7;
		border-radius: 4px;
	}
}

.tabContent {
	height: 100%;
}
