.container {
    margin: 0 auto;
    max-width: 1216px;
}

.wrapper {
    background: rgba(247, 250, 252, 1);
}

.loader {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }