.generateButton {
	margin-top: 24px;
	background-color: #4299e1;
	border-radius: 6px;
	display: flex;
	gap: 8px;
}

.tip {
	z-index: 1001;
}

@media (max-width: 410px) {
	.generateButton {
		width: 100%;

		p {
			white-space: normal;
			word-wrap: break-word;
		}
	}
}
