@import '@/styles/abstracts/variables';

.container {
	width: 100%;
	max-width: 1440px;
}

.blogContainer {
	display: grid;
	grid-template-columns: 5fr 2fr;
	gap: 20px;
	margin: 20px auto;
}

.content h4 {
	margin-bottom: 20px;
}

/* Основная статья */
.article {
	max-width: 100%;

	a {
		color: rgba(66, 153, 225, 1);
	}
}

.article h1 {
	color: $text-primary;
}

.article h2 {
	color: $text-primary;
}

.article p {
	color: $text-secondary;
	margin-bottom: 15px;
}

.meta {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	color: $grey-3;
	margin-bottom: 20px;
}

.meta img {
	border-radius: 50%;
}

.articleContent iframe {
	width: 100%;
}

.articleContent div:has(table) {
	overflow-x: auto;
}

.articleContent table {
	border-radius: 12px;
	background-color: transparent;
	border: 1px solid rgb(206, 212, 217) !important;
	border-collapse: separate !important;
	overflow-x: auto !important;
	border-spacing: 0;
}

.articleContent table td,
.articleContent table th {
	border: 1px solid rgb(206, 212, 217) !important;
}

.articleContent table tr td:not(:last-child) {
	border: none !important;
	border-right: 1px solid rgb(206, 212, 217) !important;
	border-bottom: 1px solid rgb(206, 212, 217) !important;
}

.articleContent table tr:not(:last-child) td:last-child {
	border: none !important;
	border-bottom: 1px solid rgb(206, 212, 217) !important;
}

.articleContent table tr:last-child td {
	border-bottom: none !important;
}

.articleContent table tr:last-child td:last-child {
	border: none !important;
}

.blogImage {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.vertical {
	width: 1px;
	height: 20px;
	background-color: $grey-2;
}

.stats {
	display: flex;
	align-items: center;
	gap: 10px;
}

.likes {
	display: flex;
	gap: 5px;
}

/* Боковая колонка */
.sidebar {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Популярные статьи */
.popularPosts {
	background: #ffe3e3;
	padding: 20px;
	border-radius: 10px;
}

.popularPosts h3 {
	margin-bottom: 15px;
}

.popularPosts ul {
	list-style: none;
	padding: 0;
}

.popularPosts li {
	margin-bottom: 10px;
}

.popularPosts a {
	text-decoration: none;
	color: $text-primary;
}

.popularPosts button {
	display: block;
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	background: $brand-primary;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

.popularPosts button:hover {
	background: darken($brand-primary, 10%);
}

/* Подписка */
.newsletter {
	background: #007bff;
	color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.newsletter h3 {
	margin-bottom: 10px;
}

.newsletter p {
	margin-bottom: 15px;
}

.newsletter input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
}

.newsletter button {
	width: 100%;
	padding: 10px;
	background: white;
	color: $brand-primary;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.newsletter button:hover {
	background: lighten(white, 10%);
}

@media (max-width: 920px) {
	.blogContainer {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 1200px) {
	.blogContainer {
		display: flex;
		flex-direction: column;
	}
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1024px) {
	.titleContainer {
		width: 100%;
	}

	.sidebar {
		max-width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.popularPosts,
	.newsletter {
		padding: 15px;
	}

	.articleContent table td,
	.articleContent table th {
		font-size: 12px;
		word-wrap: anywhere;
	}
}
