@import '@/styles/abstracts/variables';

.inner {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 0;
}

.layout {
	display: grid;
	grid-template-columns: 400px minmax(0, 1fr);
	flex: 1 1 auto;
	min-height: 0;
	height: 80vh;
}

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e2e8f0;
	padding-top: 16px;
	height: 100%;
	min-height: 0;
	overflow: hidden;
}

.content {
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	background: #fff;
	min-height: 0;
	height: 100%;
	overflow: hidden;
}

.placeholder {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.filterButton {
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 50%;
	right: 20px;

	&.isActive {
		background-color: rgba($brand-primary, 0.1);
		color: $brand-primary;
	}
}

.mobileHeader {
	display: none; // По умолчанию скрыты
}

@media (max-width: 1024px) {
	.body {
		height: 0;
	}

	.layout {
		// Убираем grid и делаем контейнер основой для абсолютного позиционирования
		display: block;
		position: relative;
		overflow: hidden; // Важно, чтобы спрятать "уехавший" контент
	}

	.sidebar {
		// Сайдбар теперь просто занимает все доступное место
		border-right: none;
		padding-right: 0;
	}

	.content {
		// 1. Позиционируем абсолютно, чтобы он мог "наехать" на сайдбар
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		padding-top: 15px;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: #fff; // Обязательно, чтобы сайдбар не просвечивал

		// 2. Сбрасываем старые мобильные стили
		margin-top: 0;
		min-height: 100%;
		border-radius: 0; // На мобильных скругление не нужно

		// 3. Изначально сдвигаем контент за пределы экрана
		transform: translateX(100%);
	}

	// 4. Когда на .layout появляется класс .showContentMobile, контент "въезжает"
	.showContentMobile {
		.content {
			transform: translateX(0);
		}
	}
}
