@import "@/styles/abstracts/variables";

.link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: $brand-primary;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darken($brand-primary, 10%);
  }

  .text {
    white-space: nowrap;
  }

  .icon {
    transition: transform 0.2s ease-in-out;
  }
}
