@import 'variables';

// Карта стилей кнопок
$button-sizes: (
	'L': (
		60px,
		18px,
	),
	'M': (
		48px,
		16px,
	),
	'S': (
		44px,
		14px,
	),
	'XS': (
		32px,
		14px,
	),
);

$button-variants: (
	'primary': (
		background: $brand-primary,
		text: $white,
		border-color: $brand-primary,
		hover-bg: $brand-primary-light,
		hover-text: $white,
		hover-border: $brand-primary-light,
		focus-border-color: $blue-3,
	),
	'secondary1': (
		background: transparent,
		text: $white,
		border-color: $white,
		hover-bg: $white,
		hover-text: $text-primary,
		// Меняем цвет текста на контрастный
		hover-border: $white,
		focus-border-color: $grey-3,
	),
	'secondary2': (
		background: transparent,
		text: $text-primary,
		border-color: $text-primary,
		hover-bg: $white,
		hover-text: $text-primary,
		hover-border: $text-primary,
		focus-border-color: $grey-3,
	),
	'secondary3': (
		background: $white,
		text: $brand-primary,
		border: $brand-primary,
		hover-bg: $brand-primary,
		hover-text: $white,
		hover-border: $brand-primary,
		focus-border-color: $blue-3,
	),
	'secondary4': (
		background: $brand-secondary,
		text: $white,
		border: $brand-secondary,
		hover-bg: none,
		hover-text: none,
		hover-border: none,
		focus-border-color: none,
	),
	// Как же я обожаю эту цепочку из ебанутых изменений из-за одного цвета кнопки (потом фикс)
	'secondary5': (
			background: $teal-400,
			text: $white,
			border: $teal-400,
			hover-bg: none,
			hover-text: none,
			hover-border: none,
			focus-border-color: none,
		),
	// Ещё одна кнопочка (потом фикс)
	'secondary6': (
			background: $grey-50,
			text: $grey-800,
			border: $grey-200,
			hover-bg: none,
			hover-text: none,
			hover-border: none,
			focus-border-color: none,
		),
);
