@import 'typography';
@import 'buttons';

@function adaptive-font($type, $size) {
	@if (
		$type ==
			'h1' or
			$type ==
			'h2' or
			$type ==
			'h3' or
			$type ==
			'h4' or
			$type ==
			'h5' or
			$type ==
			'h6'
	) {
		@return clamp(24px, calc($size * 0.5 + 1vw), $size); // 🔹 Для заголовков
	} @else {
		@return clamp(14px, $size * 0.9 + 0.5vw, $size); // 🔹 Для обычного текста
	}
}

@mixin typography($type) {
	$size: map-get($typography, $type);
	font-size: nth($size, 1);
	line-height: nth($size, 2);
	font-weight: map-get($font-weights, nth($size, 3));
	font-size: adaptive-font($type, nth($size, 1));
}

@mixin button($size, $variant) {
	$size-props: map-get($button-sizes, $size);
	$variant-props: map-get($button-variants, $variant);
	display: inline-flex;
	white-space: nowrap;
	height: nth($size-props, 1);
	font-size: nth($size-props, 2);
	padding: 0 24px;

	background-color: map-get($variant-props, background);
	color: map-get($variant-props, text);
	// Этот border, который почему-то был border-color стоил мне полтора часа времени (без негатива)
	border: 1px solid map-get($variant-props, border);
	border-radius: 8px;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: map-get($variant-props, hover-bg);
		color: map-get($variant-props, hover-text);
		border-color: map-get($variant-props, hover-border);
	}

	&:disabled {
		filter: brightness(0.7);
		cursor: not-allowed;
		pointer-events: none;
	}

	&:focus {
		background-color: map-get($variant-props, hover-bg);
		color: map-get($variant-props, hover-text);
		outline: 3px solid map-get($variant-props, focus-border-color);
	}
}
