// Main colors
$brand-primary: #4096ff;
$brand-secondary: #ff7401;

$brand-primary-light: #368cf5;

$brand-primary-white: #95a2b1;

// Text colors
$text-primary: #11263a;
$text-secondary: #717680;

// Grey colors
$white: #ffffff;
$grey-1: #f5f6f8;
$grey-2: #d5d7da;
$grey-3: rgba(29, 29, 29, 0.1); // 10% прозрачности
$grey-4: #535862;
$grey-5: #95a2b1;

// Additional colors
$blue-1: #69b1ff;
$blue-2: #5470c5;
$blue-3: #e6f4ff;
$violet: #e8e6ff;
$pink: #fae6ff;
$pink-light: #ffd3d9; // Можно изменить на нужный оттенок розового

$grey-50: #f7fafc;
$grey-100: #edf2f7;
$grey-200: #e2e8f0;
$grey-500: #718096;
$grey-800: #1a202c;
$orange-400: #ed8936;

$teal-400: #38b2ac;

$border-radius: 8px;

$green: #28a745;
$green-400: #48bb78;
$red: #dc3545;
$red-500: #e53e3e;

$blue-100: #bee3f8;

$navigationHideBreakPoint: 1720px;
$horizontalMobileBreakPoint: 1000px;
